html * {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2rem;
}

h3 {
    font-size: 2.4rem;
    padding: 1rem;
}

table {
    border-spacing: 0;
    border: 1px solid black;
    margin: 0 auto;

    tr {
        :last-child {
            td {
                border-bottom: 0;
            }
        }
    }

    th,
    td {
        margin: 0;
        padding: 0.5rem;
        border-bottom: 1px solid black;
        border-right: 1px solid black;

        :last-child {
            border-right: 0;
        }
    }

    td {
        input {
            font-size: 1rem;
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
}

.pagination {
    padding: 0.5rem;
    text-align: center;
}

.center {
    margin: 0 auto;
    max-width: 90vw;
}
